<a href="https://colab.research.google.com/github/Cyrill98/Data-Structures-Algorithms/blob/main/Interview_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Check odd numbers

In [ ]:
for i in range(10):
  if i % 2 != 0:
    print(i)

1
3
5
7
9

#Check Prime Numbers

1. Using Flag variable

In [ ]:
num = int(input("Enter number\n"))

flag = False

if num > 1:
  for i in range(2, num):
    if(num % i) == 0:
      flag = True
      break

if flag:
  print(num,"is not a prime number")
else:
  print(num,"is a prime number")

Enter number
34
34 is not a prime number

2. Using For...else statement

In [ ]:
num = int(input("Enter number"))

if num > i:
  for i in range(2, num):
    if num % i == 0:
      print(num,"is not a prime number")
      print(i,"times", num//i,"is",num)
      break
    else:
      print(num,"is a prime number")
else:
  print(num,"is not a prime number")

Enter number34
34 is not a prime number
2 times 17 is 34

#Check factorial number

In [ ]:
user = int(input("Enter number"))
factorial = 1

if user < 0:
  print("Doesnt exist")
elif user == 0:
  print("Factorial number is 1")
else:
  for i in range(1, user+1):
    factorial = factorial*i
  print(factorial)

Enter number4
24

#Check odd/even number

In [ ]:
user = int(input("Enter any number: "))

if user % 2 != 0:
  print("That is odd number")
else:
  print("That is even number")

Enter any number: 3
That is odd number

In [ ]:
def oddtak(user1):
  if user1 % 2 != 0:
    print("Number is odd")
  elif user1 % 2 == 0:
    print("Number is even")
  else:
    print("Invalid number")

oddtak(int(input("Enter any number")))

Enter any number12
Number is even

#Convert int to binary

1. Using built-in function

In [6]:
n = int(input("Enter integer number\n"))
binari = bin(n)

print(binari)

Enter integer number
10
0b1010

2. Without built-in function<br>

![image.png]()

In [5]:
n = int(input("Enter integer number\n"))

temp = format(n, "b")
print(temp)

Enter integer number
10
1010

#Check leap year

You should follow the following steps to determine whether a year is a leap year or not.


1.   If a year is evenly divisible by 4 means having no remainder then go to next step. If it is not divisible by 4. It is not a leap year. For example: 1997 is not a leap year.
2.   If a year is divisible by 4, but not by 100. For example: 2012, it is a leap year. If a year is divisible by both 4 and 100, go to next step.
3.   If a year is divisible by 100, but not by 400. For example: 1900, then it is not a leap year.
4.    If a year is divisible by both, then it is a leap year. So 2000 is a leap year.

In [ ]:
user = int(input("Enter any year: "))

if (user % 400 == 0) or (user % 100 != 0) and (user % 4 == 0):
  print("Leap year")
else:
  print("Not Leap year")

Enter any year2012
Leap year

Armstrong Number

In [ ]:
n = int(input("Insert number to be converted into Armstrong number"))
#Initialize sum
s=0
t = n

while t > 0:
  # take last digit
  x = t % 10
  #Perform Armstrong calculation
  s += x **3
  t //= 10

if n==s:
  print('Armstrong',n)
else:
  print("Not armstrong",n)

Insert number to be converted into Armstrong number371
Armstrong 371

In [ ]:
x = 23
# Notice that % 10 always return digit last
y = x % 10
print(y)

3

In [ ]:
x = 10
# //operator berlawanan dengan %operator
x//=3
print(x)

3

#Fibonacci Sequence

In [ ]:
n = int(input("Enter your magic number: "))
counter = 0
no1 = 0
no2 = 1

if n < 0:
  print("Plase enter positive integer")
elif n == 0:
  print("The fibonacci sequence must be greater than", n)
else:
  print("The fib sequence for", n, "is: ")
  while counter < n:
    print(no1)
    nth = no1 + no2
    no1 = no2
    no2 = nth
    counter += 1

Enter your magic number: 13
The fib sequence for 13 is:
0
1
1
2
3
5
8
13
21
34
55
89
144

#Multiplication Table

In [ ]:
user = int(input("Enter multiplication table: "))

for i in range (13):
  ans = user * i
  print(user, 'X', i, '=', ans)

Enter multiplication table: 3
3 X 0 = 0
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
3 X 12 = 36

In [ ]:
user = int(input("Enter your multiplication  table: "))

for i in range(1, 13):
  print(user, 'X', i, '=', user*i)

Enter your weapon: 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24

# Check Palindrome Number

In [ ]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
if(temp==rev):
  print("The number is a palindrome!")
else:
  print("The number isn't a palindrome!")

Enter number:12
The number isn't a palindrome!

# Count number of digit in number

In [ ]:
n = int(input("Enter any large number"))

count = 0
while n > 0:
  count+=1
  n = n//10
print(count)

Enter any large number132432
6

In [ ]:
x = y = 5, 10
# print(y) output= (5, 10) sama je dengan x
num = x == y
print(num)

True

#Find the Second Largest Number in a List

In [ ]:
a = int(input("Enter list of number"))
initial = []

for i in range(1, a+1):
  b = int(input("Enter number"))
  initial.append(b)
  initial.sort()

print("Your list of number is: ",initial)
print("The second largest of number in your list is :", initial[-2])

Enter list of number4
Enter number54
Enter number65
Enter number23
Enter number756
Your list of number is:  [23, 54, 65, 756]
The second largest of number in your list is : 65

#Find Average Number

In [ ]:
a = int(input("Enter the number of elements to be inserted"))
c = []
for i in range(0, a):
  b = int(input("Enter the element"))
  result = sum(b)/a
  # c.append(b)
  # result = sum(c)/a

print(result)

Enter the number of elements to be inserted32
Enter the element2

TypeError: ignored

# Count number of vowels in a string

In [ ]:
n = (input("Enter text\n"))
vowel_counter = 0

for i in n:
  if (i=='a' or i=='e' or i == 'o' or i =='u'):
    vowel_counter += 1

print("NUmber of vowels in the text are", vowel_counter)

Enter text
bvfbcjyuumooaaafseeatea
NUmber of vowels in the text are 12

# Convert list into string

In [ ]:
list1 = ['sunday','monday']

combined = '-'.join(list1)
print(combined)

sunday-monday

What is enumerate in Python?

Reverse a number in Python

In [ ]:
n = int(input("Enter number"))

reversal = 0

while n>0:
  digit = n%10
  reversal = reversal * 10 + digit
  n = n//10
print("The reverse number is :", reversal)

Enter number643346
The reverse number is : 643346

# Convert list into tuple

Concatenate Strings

Others:

In [ ]:
name1 = ['Adam','Idris','Noah']
print(name1[-1][-1])

h

# User input as list

1. Using try block

In [ ]:
try:
  list1 = []
  
  while True:
    list1.append(int(input("Enter list of number: \n")))
except:
  print(list1)

2. Using for loop

In [ ]:
list1 = []
user = int(input("Enter list of number: "))
for i in range(0, user):
  print("Enter the number")
  elem = int(input())

  list1.append(elem)

print(list1)

Enter list of number: 4
Enter the number
2
Enter the number
4
Enter the number
5
Enter the number
6
[2, 4, 5, 6]

#Switch statements (Python has no switch case statements; only if-else statement)


We will use C++

Link to run C++ on Google Colab:
https://www.geeksforgeeks.org/how-to-run-cuda-c-c-on-jupyter-notebook-in-google-colaboratory/

In [ ]:
#include 
using namespace std;
 
int main () {
  
  int marks = '10';

  switch(grade) {
    case '5' :
      cout << "You scored 5 marks" << endl; 
         break;
    case '6' :
        cout << "You scored 6 marks" << endl;
     case '7' :
        cout << "You scored 7 marks" << endl;
         break;
      case 'D' :
        cout << "You scored 10 marks" << endl;
         break;
      default :
        cout << "You scored 0 marks" << endl;
   }
  cout << "Your marks is " << marks << endl;
 
   return 0;
}

However, there are alternative other than Switch Case in Python

1. If-Else Statement
2. Dictionary Mapping
3. Using classes

Method 1) If-Else Statement

In [ ]:
fruit = input('Choose Mango, Banana, Durian\n')

if fruit == 'Mango':
  print("You choose Mango")
elif fruit == 'Banana':
  print('You choose banana')
elif fruit == 'Durian':
  print("You choose Durian")
else:
  print('Choose among those 3 only')

Choose Mango, Banana, Durian
Mango
You choose Mango

Method 2) Dictionary Mapping

In [ ]:
def monday():
    return "monday"
def tuesday():
    return "tuesday"
def wednesday():
    return "wednesday"
def thursday():
    return "thursday"
def friday():
    return "friday"
def saturday():
    return "saturday"
def sunday():
    return "sunday"
def default():
    return "Incorrect day"

switcher = {
    1: monday,
    2: tuesday,
    3: wednesday,
    4: thursday,
    5: friday,
    6: saturday,
    7: sunday
    }

def switch(dayOfWeek):
    return switcher.get(dayOfWeek, default)()

print(switch(3))
print(switch(5))

wednesday
friday

Method 3) Using Classes

In [ ]:
class PythonSwitch:
    def day(self, dayOfWeek):
        default = "Incorrect day"
        return getattr(self, 'case_' + str(dayOfWeek), lambda: default)()

    def case_1(self):
        return "monday"

    def case_2(self):
        return "tuesday"

    def case_3(self):
        return "wednesday"

    def case_4(self):
       return "thursday"

    def case_5(self):
        return "friday"

    def case_7(self):
        return "saturday"
    
    def case_6(self):
        return "sunday"
   
my_switch = PythonSwitch()

print (my_switch.day(1))

print (my_switch.day(3))

monday
wednesday

In [ ]:
# A Sample class with init method
class Person:
   
    # init method or constructor 
    def __init__(self, name, age):
        self.name = name
        self.age = age
   
    # Sample Method 
    def say_hi(self):
        print('Hello, my name is', self.name,'and i am',self.age,'years old')
   
p = Person('Cyrill','20')
p.say_hi()

Hello, my name is Cyrill and i am 20 years old

#What is Huffman Coding Algorithms?



---



Huffman coding is a lossless data compression algorithm.There are mainly two parts. First one to create a Huffman tree, and another one to traverse the tree to find codes.

For an example, consider some strings “YYYZXXYYX”, the frequency of character Y is larger than X and the character Z has the least frequency. So the length of the code for Y is smaller than X, and code for X will be smaller than Z.


Applications of Huffman Coding:
1.They are used for transmitting fax and text.
2.They are used by conventional compression formats like PKZIP, GZIP, etc.

#Number of Inversions

Inversion Count for an array indicates – how far (or close) the array is from being sorted. If array is already sorted then inversion count is 0.

In [ ]:
def getInvCount(arr, n):
  
    inv_count = 0
    for i in range(n):
        for j in range(i + 1, n):
            if (arr[i] > arr[j]):
                inv_count += 1
  
    return inv_count
  
# Driver Code
arr = [1, 20, 6, 4, 5]
n = len(arr)
print("Number of inversions are",
              getInvCount(arr, n))

Number of inversions are 5

#Prime Sieving


Given a number n, print all primes smaller than or equal to n. It is also given that n is a small number. 
For example, if n is 10, the output should be “2, 3, 5, 7”. If n is 20, the output should be “2, 3, 5, 7, 11, 13, 17, 19”.

In [ ]:
def SteveOfErostetics(m):
  prime = [True for i in range (n + 1)]
  p = 2
  while (p * p <= n):
    if prime[p] == True:
      for i in range(p ** 2, n + 1, p):
        prime[i] = False
    p+=1
  prime[0] = False
  prime[1] = False

  for p in range(n + 1):
    if prime[p]:
      print (p)

if __name__=='__main__':
  n = int(input("Enter number"))
  print("than or equal to ", n) 
  SteveOfErostetics(n)

Enter number40
than or equal to  40
2
3
5
7
11
13
17
19
23
29
31
37